/*Datepicker*/

.datepicker-date-display {
 background-color: #ffa000;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
 color: #ffa000;
}

.datepicker-table td.is-today {
 color: #ffa000;
}

.datepicker-table td.is-selected {
 background-color: #ffa000;
 color: #fff;
}

/*Base page*/

nav .brand-logo {
 margin-left: 1em;
}

.card {
 margin-top: 1em;
}

.same-height{
 height:228px;
}

/*Locations page*/

div #map {
 min-height: 360px;
}

.capitalized-text{
 text-transform: capitalize;
}

/*Font sizes*/

.bigger-font{
 font-size:16px;
}

.smaller-font{
 font-size:14px;
}

/*Colors*/

.grey-color{
 color:#333333
}

.red-color{
 color:#e63900
}

.color-amber {
 color: #ffa000;
}

