<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

  <title>Travel Chapters</title>
</head>

<body>
  <header>
    <nav class="nav-extended">
      <div class="nav-wrapper amber darken-2">
        <a href="{{url_for('get_chapters')}}" class="brand-logo">Travel chapters</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{url_for('get_chapters')}}">Home</a></li>
          <li><a href="{{url_for('add_chapter')}}">New travel chapter</a></li>
          <li><a href="{{url_for('get_countries')}}">Countries</a></li>
          <li><a href="{{url_for('add_country')}}">New country</a></li>
        </ul>
      </div>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="{{url_for('get_chapters')}}">Home</a></li>
        <li><a href="{{url_for('add_chapter')}}">New travel chapter</a></li>
        <li><a href="{{url_for('get_countries')}}">Countries</a></li>
        <li><a href="{{url_for('add_country')}}">New country</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block content %} {% endblock %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.sidenav').sidenav();
      $('select').formSelect();
      $('.datepicker').datepicker();
    });
  </script>
</body>

</html>
