{% extends 'base.html' %} {% block content %}
<div class="row">
   {% for chapter in chapters %}
  <div class="col s12 m6 l3" >
    <div class="card" >
      {% if chapter.main_photo %}
      <div class="card-image waves-effect waves-block waves-light" >
        <img class="activator" src="{{chapter.main_photo}}" style="height:228px;">
      </div>
      {% else %}
      <div class="card-image waves-effect waves-block waves-light" >
        <img class="activator" src="{{placeholder}}" style="height:228px;">
      </div>
      {% endif %}
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4 " style="font-size:16px;">
          <strong class="truncate">{{chapter.title}}</strong><i class="material-icons right">keyboard_arrow_down</i>
        </span>
        <p style="font-size:14px;">{{chapter.start_date}} - {{chapter.end_date}}</p>
      </div>

      <div class="card-action right-align">
        <a href="{{url_for('edit_chapter', chapter_id=chapter._id)}}" class="amber-text text-darken-2">Edit</a>
        <a href="{{url_for('delete_chapter', chapter_id=chapter._id)}}" class="amber-text text-darken-2">Delete</a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{chapter.title}}<i class="material-icons right">close</i></span>
        <p><strong>Where:</strong> {{chapter.city_name}}, {{chapter.country_name}}</p>
        <p><strong>When:</strong> {{chapter.start_date}} - {{chapter.end_date}}</p>

        <p>{{chapter.story}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
 {% endblock %}
