{% extends 'base.html' %} {% block content %}

<div class="row">
  <h4 class="center-align">Locations you have visited</h4>
  <div id="map"></div>
  <ul class="collection">
    {% for chapter in chapters %}
    <li class="collection-item avatar">
      <img src="{{chapter.main_photo}}" alt="" class="circle">
      <span class="title address capitalized-text">{{chapter.city_name}}, {{chapter.country_name}}</span>
    </li>
    {% endfor %}
  </ul>
</div>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNFfFTnSu4IHn9fdoO7iD0xi3cy6kkDo8&callback=initMap">
</script>
<script type="text/javascript" src="{{url_for('static', filename='js/maps.js')}}"></script>

{% endblock %}
