{% extends 'base.html' %} {% block content %}

<div class="row">
    <h4 class="center-align">Locations you have visited</h4>
    <div id="map"></div>
</div>
  <script type="text/javascript">
    function initMap(){
      var map = new google.maps.Map(document.getElementById("map"),
      {
        zoom: 3,
        center: {
          lat: 46.619261,
          lng: -33.134766
        }
      });
    }
  </script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap">
</script>

{% endblock %}
